/* backgrounds.css */

/* Background for the main menu page */
.body-menu { 
    background: url('../Images/fone_menu.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Background for the Slot Machine page */
.body-slots {
    background: url('../Images/fone_slots.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Background for the Roulette page */
.body-roulette {
    background: url('../Images/fone_roulette.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Background for the Heads or Tails page */
.body-coin { 
    background: url('../Images/fone_coin.jpg') no-repeat center center fixed; 
    background-size: cover;
}

/* Background for the Mines page */
.body-mines {
    background: url('../Images/fone_mines.jpg') no-repeat center center fixed;
    background-size: cover;
}